:root {font-size: calc(14px + (24 - 14) * ((100vw - 300px) / (3840 - 300)));}
html {
  -webkit-text-size-adjust: 100%; 
}

body 
p {
  line-height: 1.5rem; 
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1rem;
  margin: 0;
  background-color: #ffcc99;
}
.wrap-all {
    background-color: #ffcc99;
    width: 100%;
    position: static;
    z-index: 2;
    overflow: hidden;
}

.nb-header {
	  font-size:2.0rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .04rem;
    background-color: crimson;
    padding: 1rem 2.5rem;
    color:white;
}
.mp0 {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    max-width: 960px;
    margin: auto;
    background-color: rgba(255,255,255,0.3);
    padding: 1em;
}
.mp1 {
    /* width: 360px; */
	width: 450px;
   padding-left: 1rem; 
}
/* MENU */
.mp-content {
    margin: 1rem;
}
.mp-content p {
     margin: 0;
}
.mp-content ol {
    list-style-type: upper-roman;
     margin: 0;
	list-style-position:outside;
    text-align: right;
}
.mp-content li {
    text-align: left;
     margin: 0;
	line-height: 1.75rem;
}
.mp-content li:hover {
    cursor: pointer;
}
.mp-content-link:link {
    text-decoration: none;
	color: black;
}
.mp-content-link:active {
    text-decoration: none;
	color: black;
}
.mp-content-link:visited {
    text-decoration: none;
	color:black;
}
.mp-content-link:hover {
    text-decoration: none;
    color: dodgerblue;
}

/* reference link */
.button:link {
    text-decoration: none;
	color: white;
}
.button:active {
    text-decoration: none;
	color: white;
}
.button:visited {
    text-decoration: none;
	color: white;
}
